[submodule "fw/external/PicoDVI"]
	path = fw/external/PicoDVI
	url = https://github.com/DLehenbauer/PicoDVI.git
	branch = oob_fix
[submodule "fw/external/no-OS-FatFS-SD-SPI-RPi-Pico"]
	path = fw/external/no-OS-FatFS-SD-SPI-RPi-Pico
	url = https://github.com/carlk3/no-OS-FatFS-SD-SPI-RPi-Pico.git
[submodule "fw/external/pico-vfs"]
	path = fw/external/pico-vfs
	url = https://github.com/dlehenbauer/pico-vfs.git
[submodule "gw/EconoPET/external/icesid"]
	path = gw/EconoPET/external/icesid
	url = https://github.com/DLehenbauer/icesid
	branch = efinix-t8
[submodule "fw/external/libyaml"]
	path = fw/external/libyaml
	url = https://github.com/yaml/libyaml.git
[submodule "rom/external/cbm-edit-rom"]
	path = rom/external/cbm-edit-rom
	url = https://github.com/DLehenbauer/cbm-edit-rom.git
[submodule "gw/EconoPET/external/m6502"]
	path = gw/EconoPET/external/m6502
	url = https://github.com/DLehenbauer/m6502.git
[submodule "gw/EconoPET/external/mc6809"]
	path = gw/EconoPET/external/mc6809
	# Fork carrying the SWI3 vector fix (cavnex/mc6809 issue 6).
	url = https://github.com/Rhialto/mc6809.git
	branch = swi3-vector
