#
# KiCad
#

# KiCad local settings
hw/**/*.kicad_prl

# KiCad backup files
hw/**/*-bak
hw/**/_autosave-*
hw/**/*.bck
hw/**/*-backups/*.zip
hw/**/#auto_saved_files#
hw/libraries/Symbols/*.bak

# KiCad lock files
hw/**/*.lck

# KiCad footprint cache
hw/**/fp-info-cache

# Fabrication Toolkit backup files
hw/**/production/backups

#
# Efinity
#

gw/EconoPET/.lock
gw/EconoPET/*.vdb
gw/EconoPET/debug_profile.wizard.json
gw/EconoPET/efinity_dbg.jtag.log*
gw/EconoPET/*.gtkw
gw/EconoPET/*.vcd
gw/EconoPET/outflow/**/*
gw/EconoPET/work_dbg/**/*
gw/EconoPET/work_pnr/**/*
gw/EconoPET/work_pt/**/*
gw/EconoPET/work_sim/**/*
gw/EconoPET/work_syn/**/*

# Keep handcoded 'timescale.f' which sets the default simulation timescale
!gw/EconoPET/work_sim/timescale.f

# Keep GtkWave translate filter files for simulation signal display
!gw/EconoPET/work_sim/*.gtkw_filter

#
# CMake
#

build/

#
# Site
#

site/dist
site/node_modules

#
# ROMs
#

fw/src/roms/901447_10.h
fw/src/roms/menu_rom.h

#
# SD card payloads
#

sdcard/roms/
sdcard/disks/

#
# CC65
# 

rom/program.pet*
rom/rom.bin
rom/obj
prgs/**/*.o

#
# Core dump
#

core

#
# AI agent scratch files
#
.cache/ai/*
!.cache/**/.gitkeep
