[submodule "fw/external/PicoDVI"]
	path = fw/external/PicoDVI
	url = https://github.com/DLehenbauer/PicoDVI.git
	branch = oob_fix
[submodule "fw/external/no-OS-FatFS-SD-SPI-RPi-Pico"]
	path = fw/external/no-OS-FatFS-SD-SPI-RPi-Pico
	url = https://github.com/carlk3/no-OS-FatFS-SD-SPI-RPi-Pico.git
[submodule "fw/external/pico-vfs"]
	path = fw/external/pico-vfs
	url = https://github.com/dlehenbauer/pico-vfs.git
[submodule "gw/EconoPET/external/icesid"]
	path = gw/EconoPET/external/icesid
	url = https://github.com/DLehenbauer/icesid
	branch = efinix-t8
[submodule "fw/external/libyaml"]
	path = fw/external/libyaml
	url = https://github.com/yaml/libyaml.git
[submodule "rom/external/cbm-edit-rom"]
	path = rom/external/cbm-edit-rom
	url = https://github.com/DLehenbauer/cbm-edit-rom.git
[submodule "gw/EconoPET/external/m6502"]
	path = gw/EconoPET/external/m6502
	url = https://github.com/DLehenbauer/m6502.git
[submodule "fw/external/pico-sdcard-bootloader"]
	path = fw/external/pico-sdcard-bootloader
	# cmolson's fork carries the FPGA-preload option (PR pending against
	# DLehenbauer/pico-sdcard-bootloader); repoint once it merges upstream.
	url = https://github.com/cmolson/pico-sdcard-bootloader.git
	branch = feat/fpga-preload
